
{{define "header"}}<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CmmntWKey</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="html/cmmntwkey.js"></script>
		<link rel="stylesheet" type="text/css" href="html/cmmntwkey.css">
	</head>
	<body>
		<div id="title">コメントをどうぞ♪</div>
{{end}}
{{define "comment-list"}}
		<ol id="comment-list" class="comment-list" >
			{{range .}}
			<li id="{{.Id}}">
				<header>
					<div class="comment-name">{{.Name}}</div>
					<div class="comment-date">{{.Date}}</div>
					<div class="comment-delete-button"></div>
				</header>
				<div class="comment-body">{{.Comment}}</div>
			</li>
			{{end}}
		</ol>
{{end}}
{{define "form"}}
		<form method="post" action="../post">
			<input type="hidden" name="page_id" id="page_id" value="{{.}}">
			<input type="text" name="name" id="post_name" class="post">
			<input type="password" name="key" id="post_key" class="post">
			<textarea name="comment" id="post_comment" class="post" rows="3" cols="60"></textarea>
			<div><input type="submit" value="送信"></div>
		</form>
{{end}}
{{define "footer"}}
	</body>
</html>
{{end}}