body {
	font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",sans-serif;
	font-size: 14px;
	background-color: #181818;
}

#title {
	font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",sans-serif;
	font-size: 22px;
	background-color: #181818;
	color: #ccc;
	font-weight:bold;
	color: #EF75BC;
}

/* コメント欄 */
ol {
	list-style: none;
	color: #bbb;
	padding: 0;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
	line-height: inherit;
	background: #444;
	border: 1px solid rgba(19, 1, 1, 0.1);
	background-clip: padding-box;
	border-radius: 5px;					/* CSS3草案 */  
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */  
	-moz-border-radius: 5px;		/* Firefox用 */ 
}

.comment-name{margin:2px; float:left; font-weight:bold; color: #EF75BC;}
.comment-date{padding-left: 4px; margin:2px; float:left; text-align:left;}
.comment-delete-button{margin:2px; float:right; text-align:right;}
.comment-body{width:100%; clear:left; white-space: pre-wrap!important;}

/* 入力フォーム */
.post {
	font-family: Meiryo,"MS PGothic",arial,sans-serif;
	background-color: #444!important;
	color: #bbb!important;
	border: none;
	/* 各丸 */
	border-radius: 5px;					/* CSS3草案 */  
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */  
	-moz-border-radius: 5px;		/* Firefox用 */ 
}

#post_name{margin:2px; width:30%; float:left;}
#post_comment{width:100%; clear:left;}
#post_button{float:left;}
#msg{margin-left:10px; margin-top:3px; float:left;}

/* ポップアップ関連 */
.hide {
	width : 0px;
	height : 0px;
}

.msg {
	buttom:5px; left:40%	
	font-family: Meiryo,"MS PGothic",arial,sans-serif;
	background-color: #EF75BC;
	color: #444;
	border-radius: 2px;					/* CSS3草案 */  
	-webkit-border-radius: 2px;	/* Safari,Google Chrome用 */  
	-moz-border-radius: 2px;		/* Firefox用 */ 
}

.error {
	background-color: #75EF84!important;
}